    body{
        font-family: sans-serif;
        background-color: lightpink;
        margin: 0;
  }

    nav{
      background-color: lightgreen;
      margin-top: 1em;
    }

    nav li:nth-child(2n){
      color: hotpink
    }

    h1{
      color: #32d4a2;
      text-align: left;
      font-family: Calibri;
    }

    p{
      color: white;
      text-align: center;
      font-family: arial;
      font-size: 20px;
    }

    img{
      height: 200px;
      width: auto;
    }

    h2{
      color: white;
      text-align: left;
      font-family: Geneva;
      font-size: 18px;
    }

    ul{
      margin: 0;
      padding: 1rem;
    }

    li{
      font-family: verdana;
      color: rgb(0, 0, 255);
      display: inline;
      margin-right: 0.75em;
    }

    div>p{
      color: white;
      text-align: left;
    }
    section{
     margin-bottom: 1em
    }

    section:nth-child(2n){
      background-color: hotpink
    }

    footer{
      background-color: white;
    }

    footer li:last-child{
      margin-left: 22em
    }

    a{
      text-decoration: none
    }

    .container {
      width: 90%;
      max-width: 760px;
      margin: 0 auto;
    }

    .purple{
      color: purple;
    }

    #coloredparagraph{
      color: lightyellow;
    }
